/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Catamaran");

body {
  margin: 0;
  padding: 0;

  font-family: Raleway, sans-serif;
  background-color: var(--background-color);

  --accent-color: rgb(235, 235, 235);
  --background-color: rgb(255,255,255);

  --side-offset: 30px;

  --logo-font: Catamaran;
  --logo-color: black;
}
a,
p {
  display: block;
}
